$featured-header-color : #FFFEFE;
$author-color : purple;
$background-color : #FFFEFE;
$anchor-color : #C100C1;
$post-background: #FFF;
$post-border-color : #F7F7F7;
$nav-background-color: #658CBF;
$main-color : #2D0458;
$post-header-color : #403F3F;

.pos-rel{
  position: relative;
}
