@import 'leekr/all';

nav#main-nav{
  img{
    height: 120px;
  }
  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    padding-top: 2rem;
    padding-right: 1.5rem;
  }

  a{
    text-transform: uppercase;
    font-size: 3rem;
    display: block;
  }
}
