@import 'variables.scss';

body {
  font-family: $main-fonts;
  background: $background;
  font-size: $base-font-size;
}

.container{
  max-width: 1200px;
}



header.banner{
  min-height: 200px;
  max-height : 200px;
  border-bottom: 5px solid green;
  background-size: cover;

  nav {
    position: relative;
    ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      li {
        a {
          color: white;
          text-decoration: none;
          background: #FFAE28;
          padding : 3px;
          margin-right: 20px;
          font-size: 25px;
          width : 100%;
          border-bottom: 4px solid rgba(0,0,0,0);
        }

        a:hover{
          border-bottom: 4px solid green;
        }

        display: inline-block;
        border-bottom: 4px solid rgba(0,0,0,0);
      }

      list-style: none;
      text-transform: uppercase;
    }

  }

}

.floater{
  background : #FFF;
  padding : 30px;
  font-size: 1.8rem;
  header {
    a{
      text-decoration: none;
      color : inherit;
    }
    .post-meta.post-date{
      color : #666;
    }
    
    h3 {
      font-size: 2.4rem;
      font-weight: 900;
      text-transform: uppercase;
      border-bottom: #ffc70e 3px solid;
    }
  }
}
