@import 'vendor/skeleton-sass/skeleton.scss';
$container-width : 1140px;
$main-fonts : 'Roboto', sans-serif;
$base-font-size : 10px;
$background : #010E16;
$banner-text-background : #FFFC42;
$link-color : #0C83CC;
$post-padding : 0 30px;
