@import 'vendor/skeleton-sass/skeleton.scss';
$primary-color-a : #FD8B8B;
$primary-color-b : #8BFD8B;
$primary-color-c : #8BE6FD;
$container-width : 1140px;
$main-fonts : 'Roboto', sans-serif;
$base-font-size : 10px;
$post-header-link : #222;
$background : #010E16;
$banner-text-background : #FD8B8B;
$link-color : #382615;
$post-padding : 0 30px;
