@import 'variables';

html{
  font-size: $sixty-two-point-five-percent;
}

body{
  font-family: $body-font-family;
  line-height: 1.2;
  font-size: $body-font-size;
}

.container-full{
  width : 100%;
  margin : 0 auto;
  padding : 0;
}
