@import url(https://fonts.googleapis.com/css?family=Raleway:800);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,400italic,900italic);

$heading-family: 'Raleway', sans-serif;
$body-font-family: 'Roboto', sans-serif;
$body-font-size: 62.5%;
$horizontal-text-margin: 0.7rem;

$h1-font-size : 6rem;
$h2-font-size : 5.2rem;
$h3-font-size : 4.2rem;
$h4-font-size : 3.3rem;
$h5-font-size : 2.7rem;
$h6-font-size : 2.2rem;
$header-margin: 1rem $horizontal-text-margin;



$paragraph-font-size: 1.6rem;
$paragraph-width: 60rem;
$paragraph-margin: 1rem $horizontal-text-margin;

$list-font-size: 1.3rem;
